.nav {
  width: 25%;
  color: black;
  margin: auto 0;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
}

.nav:hover {
  cursor: pointer;
  text-decoration: underline;
}

.active-nav {
  text-decoration: underline;
}
