.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  background-color: #d6e0f0;
}

.navigation-bar {
  width: 25%;
  display: flex;
  justify-content: baseline;
}

.nav {
  width: 25%;
  color:black;
  margin: auto 0;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
}

.nav:hover {
  cursor: pointer;
  text-decoration: underline;
}

.active-nav {
  text-decoration: underline;
}

.search-bar {
  width: 60%;
}

.logo-container {
  flex-grow: 0;
  width: 10%;
}

.logo {
  height: 80px;
}
