.product {
  margin: 50px 30px;
}

.product .details {
  display: flex;
}

.product .details .img-holder {
  display: flex;
  margin: 20px 60px 20px 100px;
  border-radius: 5px;
  box-shadow: 2px 3px 8px 2px lightgrey;
}

.product .details .img-holder img {
  margin: auto;
  height: 400px;
  display: block;
}

.product .details .info {
  width: 50%;
  margin: 20px;
  padding:50px 20px;
}

.product .details .info .title {
  font-weight: 400;
  font-size: 1.8rem;
}

.product .price {
  margin: 30px 10px 10px;
}

.product .price div {
  font-size: 1.4rem;
}

.product .rating {
  font-size: 1.4rem;
  margin: 10px;
  margin-left: 20px;
}
