.product-nav-bar {
  display: flex;
}

.product-nav {
  flex-grow: 1;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid #8d93ab;
}

.product-nav:hover {
  background-color: #f1f3f8;
}

.active-product-nav {
  border-bottom: none;
  border: 1px solid #8d93ab;
  background-color: #d6e0f0;
}

.active-product-nav:hover {
  background-color: #d6e0f0;
}
